#app {
  padding: 5% 10%;
}

/* Styling of header */
.Header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: large;
  padding: 0;
}

.refresh {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Styling of arrival rows */
.lineIcon {
  min-width: 5rem;
  text-align: center;
  /* flex-flow: row nowrap; */
  border-radius: 1rem;
  /* line-height: inherit; */
  /* margin: 0.5rem 2rem; */
  font-style: normal;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding: 0.35rem;
  font-family: 'grapheinpro', Arial, "Helvetica Neue", Helvetica, sans-serif;

  margin-left: 1rem;
}

.minsNum {
  font-weight: 700;
}

.arrivingNow {
  font-weight: 700;
}

.mins {
  width: min(20%, 10rem);
  font-size: 1rem;
}

.lineName {
  margin-left: 0.7rem;
}

.direction {
  margin-left: auto;
}

.ArrivalRow {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
}

.ArrivalRow>* {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.Arrivals {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

/** Line filtering*/
.Filtering {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  user-select: none;
}

.lineIconFilter {
  min-width: 3rem;
  text-align: center;
  /* flex-flow: row nowrap; */
  border-radius: 1rem;
  /* line-height: inherit; */
  /* margin: 0.5rem 2rem; */
  font-style: normal;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 0.25rem;
  font-family: 'grapheinpro', Arial, "Helvetica Neue", Helvetica, sans-serif;

  margin-right: 0.7rem;
}

.directionIconFilter {
  min-width: 3rem;
  text-align: center;
  border-radius: 0rem;
  font-style: normal;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 0.25rem;
  font-family: 'grapheinpro', Arial, "Helvetica Neue", Helvetica, sans-serif;

  margin-right: 0.7rem;

}

.Filtering i:hover {
  cursor: pointer;
}

.Map {
  height: 25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.headerIcons:hover {
  cursor: pointer;
}

.BART {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 12%;
}

.buttonHeader {
  padding-left: 0.5rem;
  padding-top: 0rem;
}

.FilterLinesAndDir {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1rem;
  justify-content: space-between;
}

header {
  display:block
}